@charset "utf-8";

/*==============================
全体的なスタイル
==============================*/
body {
    width: 100%;                            /*ページ全体の横幅*/
    background-color:#ffffff;       /*ページ全体の背景色*/
    background-image: none;                 /*ウェブページ全体の背景画像を無しにする*/
    font-size: 100%;                        /*フォントサイズを100%にする*/
}
div#pagebody {
    width:100%; margin:0 auto;      /*内容全体をセンタリング:上下マージン無し、左右マージンを自動算出*/
    background-image: none;                 /*コンテンツ全体の背景画像を無しにする*/
    background-repeat: no-repeat;           /*背景画像を繰り返さない*/
}

/*==============================
ヘッダ
==============================*/
div#header {
    height: 20px;                   /*ヘッダ部分の高さ*/
}
div#header h1 {
    padding: 0px;                           /*見出しの位置調整*/ 
}
/*div#login {
    font-size: 14px;                /*文字サイズ*/
/*    font-family:Arial, Helvetica, sans-serif;       /*フォントの種類*/
/*} */
hr {
    clear: both;                    /*フロート配置をクリアする*/
    width: 100%;                   /*幅の指定*/
    margin: 10px 0px;               /*上下マージン10px、左右マージン0px*/
    border: 1px dotted #cccccc;   /*内容の仕切りをグレーの点線表示にする*/
}