@charset "utf-8";

/*==============================
テーブル
==============================*/
table.haisha_tbl{
    width:1000px;
    border-collapse: collapse;          /*セル同士の間に隙間を空けない*/
    }

table.haisha_tbl th{
    text-align: center;
    color:white;
    background-color: #225588;
    border-bottom: 1px solid #333333;
    padding: 10px 0;
    }

table.haisha_tbl td{
    text-align: center;
    background-color: #eeeeff;              /*セルの背景色*/
    border-bottom: 1px solid #333333;
    padding: 10px 0;
    }