@charset "utf-8";

/*==============================
テーブル
==============================*/
table.haisha_tbl{
    width:1000px;                       /*テーブル全体の幅*/
    border-collapse: collapse;          /*セル同士の間に隙間を空けない*/
    }

table.haisha_tbl th{
    text-align: center;                 /*センター揃え*/
    white-space: nowrap;                /*セル内の改行を禁止する*/
    color:white;                        /*文字色*/
    background-color: #225588;          /*セルの背景色*/
    border-top: 1px solid #666666;      /*セルのボーダー(上)*/
    border-left: 1px solid #666666;     /*セルのボーダー(左)*/
    border-right: 1px solid #666666;    /*セルのボーダー(右)*/
    border-bottom: 1px solid #666666;   /*セルのボーダー(下)*/
    padding: 10px;                              /*パディング(内側余白)を全て10px*/
    }

table.haisha_tbl td{
    text-align: center;                /*センター揃え*/
    background-color: #eeeeff;              /*セルの背景色*/
    border-top: 1px solid #666666;      /*セルのボーダー(上)*/
    border-left: 1px solid #666666;     /*セルのボーダー(左)*/
    border-right: 1px solid #666666;    /*セルのボーダー(右)*/
    border-bottom: 1px solid #666666;   /*セルのボーダー(下)*/
    padding: 10px;                              /*パディング(内側余白)を全て10px*/
    }